* {
  background-color: #535c68;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: #95afc0;
  display: inline-block;
  font-family: Pacifico, cursive;
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0;
  text-align: center;
}

form {
  align-content: center;
  display: flex;
  flex-direction: column;
}

input {
  box-shadow: 2px 2px 2px #535c68;
  color: #95afc0;
  height: 25px;
  margin: 10px;
  padding: 13px;
  width: 350px;
}

input::placeholder {
  color: #95afc0;
}

main {
  margin-top: 230px;
  text-align: center;
}

button {
  background-color: #30336b;
  border-radius: 4px;
  color: #535c68;
  height: 25px;
  margin: 0 auto;
  margin-top: 15px;
  width: 150px;
}

button:hover {
  background-color: #130f40;
  color: red;
}

button:disabled {
  background-color: #95afc0;
}

button:enabled {
  background-color: #30336b;
  color: #7ed6df;
}

button:enabled:hover {
  background-color: #95afc0;
  color: #30336b;
}

hr {
  background-color: #070743;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 50%;
}
