table {
  color: white;
}

th , td {
  background-color: #130f40;
  border-radius: 3px;
  color: #dff9fb;
  padding: 8px;
}

td {
  color: #95afc0;
}

.div-table-class {
  margin: 10px 25px;
}

@media ( max-width : 820px ) {

  th , td {
    font-size: 10px;
  }
}

@media ( max-width : 600px ) {

  th , td {
    font-size: 7px;
  }
}

@media ( max-width : 500px ) {

  th , td {
    font-size: 5px;
  }
}